.page_popup_el_row{
  display: table;
  box-sizing: border-box;
  margin-top: 15px;
}

.page_popup_el_row_title{
  display: table-cell;
  width: 100px;
  min-width: 100px;
  text-align: left;
  box-sizing: border-box;
  font-size: 12px;
  color: #000;
}

.page_popup_el_row_input{
  display: table-cell;
  width: 100%;
  box-sizing: border-box;
}

.page_mobile_popup_input_yv{
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  background-color: #FFF;
  box-sizing: border-box;
}

.page_vhod_title_zabul_passa{
  color: #4a4636;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.page_accaunt_vhod_line{
  margin-top: 15px;
}

.page_popup_line_row{
  display: table;
  box-sizing: border-box;
  margin: 20px 0px 5px;
}

.page_popup_line_row_left{
  display: table-cell;
  width: 230px;
  min-width: 230px;
  text-align: left;
  padding-right: 20px;
  box-sizing: border-box;
  vertical-align: middle;
}

.page_popup_line_row_right{
  display: table-cell;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  vertical-align: middle;
}

.page_accaunt_vhod_but{
  color: #000;
  background: #ccc;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border-radius: 7px;
}
