/*---RESET---*/
html, head, body{
  margin: 0px;
  padding: 0px;
  height: 100%;
}
div,a,input,textarea{
  box-sizing: border-box;
}
pre{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
/*---END RESET---*/

/*---BASIC CSS---*/
.full_w{
  width:100%;
}
.full_mw,.full_m_w{
  min-width:100%;
}
.full_h{
  height:100%;
}
.full_mh,.full_m_h{
  min-height:100%;
}
.text_center,.align_center{
  text-align: center;
}
.text_left,.align_left{
  text-align: left;
}
.text_right,.align_right{
  text-align: right;
}
.valign_top{
  vertical-align: top;
}
.valign_middle{
  vertical-align: middle;
}
.valign_bottom{
  vertical-align: bottom;
}
.i_block{
  display: inline-block;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.clear{
  clear:both;
}
.float_l{
  float: left;
}
.float_r{
  float: right;
}
.table{
  display: table;
}
.tabletr{
  display: table-row;
}
.tabletd{
  display: table-cell;
}
.cursor_p{
  cursor: pointer;
}
.display_none{
  display: none;
}
/*---END BASIC CSS---*/

/*---CSS Themes---*/
.mainpagewidth_lcp, .mainpagewidth{
  max-width: 1078px;   /* максимальная ширина сайта */
  margin: auto;   /* выравнивание по центру */
  height: inherit;
}

.max_width{
  max-width: 1078px;   /* максимальная ширина сайта */
  margin: auto;   /* выравнивание по центру */
  height: inherit;
}

.content_all_lcp{
  padding: 0px;
}


* html .body_all {
    height: 100%;
}

body{
  font-family: Arial;
  font-size: 14px;

}

.background_black{
  background: #000000;
}

.color_black{
  background: #000000;
}

.body_all{
  /* background: #fbf7f6; */
  /* background: #fafbf6; */
  background: #f6f7fb;
}



/*Панель управления верхняя*/
.panel_accaunt{
  background-color: #000000;
  box-sizing: border-box;
  background: url(/themes/fortrannew/img/panel.bmp);
  background-repeat: repeat-x;
}

.panel_accaunt_city{
  color: #ffffff;
  font-size: 12px;
  padding: 8px;
}

.panel_accaunt_city_span{
  color: #00c0ff;
  cursor: pointer;
  text-decoration: underline;
}

.panel_accaunt_login{
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}

.panel_yprav_ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
}

.panel_yprav_li{
}

.panel_yprav_a{
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
}

.panel_yprav_ul_ul{
  display: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  background: #333333;
  z-index: 2;
  right: 0px;
  top: 100%;
  width: 200px;
}

.panel_yprav_li_li{
}

.panel_yprav_a_a{
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 14px;
}

.panel_yprav_a_a:hover{
  background: rgba(255, 255, 255, 0.15);
}

/*End Панель управления верхняя*/

/*Шапка сайта*/
.header{
box-sizing: border-box;
background: #ffffff;
}

.header_table{
  display: table;
}


.header_padding{
padding: 5px;
}

.header_empty{
  width: 100%;
}

.header_title{
  width: 420px;
  min-width: 420px;
  max-width: 420px;
  box-sizing: border-box;
}

.header_title_h1{
  margin: 0px;
  padding: 0px;
  /* line-height: 25px; */
  color: #000000;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}

.header_title_a{
  /* line-height: 25px;
  color: #000000;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase; */
  display: block;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.header_title_a_padding{
  padding-left: 10px;
}

.header_phone{
}

.header_phone_p{
margin: 0px;
font-size: 18px;
font-weight: bold;
text-align: center;
color: #000000;
}

.header_phone_a{
display: block;
margin: 0px;
font-size: 18px;
font-weight: bold;
text-align: center;
color: #000000;
}

.header_phone_zayav{
display: block;
color: #00c0ff;
margin: 0px;
text-align: center;
font-weight: bold;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-style: dashed;
cursor: pointer;
font-size: 11px;
}

.header_info_p{
  color: #00c0ff;
  margin: 0px;
  text-align: center;
}

.header_soc_network{
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  box-sizing: border-box;
  height: 64px;
  max-height: 64px;
  text-align: center;
}

.header_search{
max-width: 80px;
box-sizing: border-box;
height: 64px;
max-height: 64px;
}

.header_search_input{
  width: 100%;
  height: 28px;
  border: 1px solid #00c0ff;
  padding: 0px 25px 0px 5px;
  box-sizing: border-box;
}

.header_search_img{
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 24px;
  line-height: 24px;
  margin: auto 0px;
  width: 26px;
  box-sizing: border-box;
  right: 7px;
}

.header_search_img:hover{
  background: #d3f4ff;
}

.header_search_img_icon{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.header_soc_network_one{
  display: inline-block;
  margin-left: 10px;
}

.header_soc_network_soc{
  width: 42px;
  min-width: 42px;
  max-width: 42px;
  height: 42px;
  display: block;
  background: url(/themes/fortrannew/img/soc-n.png);
  background-size: contain!important;
  background-position: center center!important;
  background-repeat: no-repeat!important;
}
/*End Шапка сайта*/

/*Меню сайта*/
.nav{
  background: linear-gradient(180deg,#0095c6,#006986);
  background-color: #00c0ff;
  box-shadow: 0 2px 6px -4px #000000;
}
.menu_ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.menu_li{
  position: relative;
  float: left;
  padding: 15px 0px;
}

.menu_a{
  text-decoration: none;
  color: #ffffff;
  padding: 15px 20px;
  font-weight: bold;
}

.menu_a:hover{
  background: url(/themes/fortrannew/img/sel.png);
}

.menu_li:hover .menu_a{
  background: url(/themes/fortrannew/img/sel.png);
}


.menu_ul_ul{
  display: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  left: 0px;
  top: 100%;
  background: #00c0ff;
  width:210px;
}

.menu_li_li{
}

.menu_li_li:hover{
  background: url(/themes/fortrannew/img/sel.png);
}

.menu_a_a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 10px;
}

.menu_li:hover .menu_ul_ul{
  display: block;
}

/*Мобильная часть меню*/

.header_mobile_nav{
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.mobile_nav_button{
  background: url(/img/mobile-menu.png);
  background-position-x: 50%;
  background-position-y: center;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  padding-right: 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.mobile_nav_button_close{
  width: 49px;
  height: 49px;
  background: url(/themes/fortrannew/img/close.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  box-sizing: border-box;
  /*font-family: Arial;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  line-height: 49px;*/
}

.mobile_nav_button_close:hover{
  background-color: #33cdff;
}

.mobile_nav_zatemnenie{
  background: url(/themes/fortrannew/img/sel_black.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mobile_nav{
  display: none;
  position: fixed;
  max-width: 300px;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  z-index: 95;
}

.mobile_menu_ul{
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #00c0ff;
  border-left: 4px solid #00b1e6;
  z-index: 90;
}

.mobile_menu_li_button{
  position: relative;
  width: 100%;
  border-bottom: 1px solid #7ddfff;
  box-sizing: border-box;
  height: 50px;
}

.mobile_menu_li{
  padding: 0px 0px 0px 20px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #7ddfff;
  box-sizing: border-box;
}

.mobile_menu_a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 17px 0px 17px 20px;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

.mobile_menu_a:hover .mobile_menu_li, .mobile_menu_li:hover{
  background: url(/themes/fortrannew/img/sel.png);
}

.mobile_menu_ul_ul{
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.mobile_menu_li_li{
  padding: 0px 0px 0px 40px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #7ddfff;
}

.mobile_menu_li_li:last-child{
  padding: 0px 0px 0px 40px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: none;
}

.mobile_menu_a_a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  box-sizing: border-box;
  padding: 17px 0px;
}

/*End Мобильная часть меню*/

/*End Меню сайта*/

/*Navigation*/
.navigation_margin{
  height: 28px;
  min-height: 28px;
  max-height: 28px;
  margin-top: 13px;
}
.titledirect{
  display: none;
}
/*End Navigation*/

/*Sidebar*/
.sidebar_lcp{
padding-top: 10px;
box-sizing: border-box;
}

.sidebar_ads{
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.rubrik{
width: 100%;
box-sizing: border-box;
}

.rubrik_ul{
width: 100%;
box-sizing: border-box;
list-style: none;
margin: 0px;
padding: 0px;
}

.rubrik_li_category{
  padding: 13px;
  box-sizing: border-box;
  font-size: 16px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  background: #eeeeee;
  margin-bottom: 15px;
}

.rubrik_li{
  box-sizing: border-box;
}

.rubrik_a{
  text-decoration: none;
  padding: 13px;
  box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  text-align: left;
  font-weight: bold;
  background: #0082a5;
  margin-bottom: 15px;
  display: block;
  margin-bottom: 3px;
}

.rubrik_a:hover{
  color: #e4e4e4;
}

.rubrik_ul_ul{
  background: #fff;
  width: 100%;
  box-sizing: border-box;
}

.rubrik_li_li{
  list-style-type: disc;
  padding: 8px 15px;
  padding-left: 0px;
}

.rubrik_a_a{
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

.rubrik_a_a:hover{
  color: #00c0ff;
}

.sidebar_event_all{
  display: block;
  width: 100%;
  margin-top: 20px;
}

.sidebar_event_title_all{
  font-size: 18px;
}

.sidebar_event_block_tbl_a{
  text-decoration: none;
}

.sidebar_event_block_tbl_a:hover .sidebar_event_title{
  text-decoration: underline;
}

.sidebar_event_block_tbl{
  display: table;
  width: 100%;
  margin-top: 10px;
  background: #fff;
  padding: 5px;
}

.sidebar_event_block_td{
  display: table-cell;
  vertical-align: top;
}

.sidebar_event_block_img_div{
  width: 55px;
  min-width: 55px;
  max-width: 55px;
  padding-right: 10px;
}

.sidebar_event_block_img{
  width: 100%;
}

.sidebar_event_block_desc_div{
  width: 100%;
}

.sidebar_event_title{
  color: #0082a5;
  font-size: 14px;
}

.sidebar_event_dater{
  font-size: 12px;
  color: #333333;
  margin-top: 7px;
}
/*End Sidebar*/



/*Content*/
.content_1col_lcp,.content_2col_lcp,.content_3col_lcp{
  padding: 10px 0px 10px 20px;
  box-sizing: border-box;
}
.content_0col_lcp{
  padding: 10px 0px 10px;
  box-sizing: border-box;
}
.content_0col_lcp .bodycontent{
  margin-bottom: 0px!important;
}
/*End Content*/



/*footer*/
.body_all_margin{
  margin-bottom: -35px; /* высота футера */
}
.body_space{
  height: 35px; /* высота футера */
}

.footer{
  background: #000000;
  height: 35px; /* высота футера */
  color:#ffffff;
}

.footer_text_left{
padding: 10px;
font-size: 12px;
color: #9a9a9a;
}

.footer_text_right{
padding: 10px;
width: 190px;
}

.footer_text_right_a{
font-size: 12px;
color: #9a9a9a;
text-decoration: underline;
display: block;
}

.footer_text_right_div{
font-size: 12px;
color: #9a9a9a;
display: block;
}
/*end footer*/


/*---END CSS Themes---*/
