p{
  margin-top: 0px;
}

.bodytitle{
  /*position: absolute;
  margin-top: -60px;
  width: 848px;*/
}

.titlecontent{
  color: #000;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
  line-height: 23px;
}

.bodycontent{
  color: #000;
  padding-top: 20px;
  font-size: 17px;
  /*line-height: 26px;*/
  margin-bottom: 50px;
}

.bodycontent a{
  color: #555;
}

.bodycontent a:hover{
  color: #000;
}

.bodycontent table{
  margin-bottom: 10px;
}

.bodycontent img{
  max-width: 100%;
  /* height: auto!important; */
}

.bodycontent{
  color: #000;
  padding-top: 20px;
  font-size: 17px;
  /*line-height: 26px;*/
}

.title_podzag{
  color: #000;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  /* font-style: italic; */
  /* margin: 10px 0px; */
}

.rubrik_main{
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.rubrik_main_ul{
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.rubrik_main_li{
  box-sizing: border-box;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 5px 5px;
  position: relative;
  vertical-align: top;
  background: #ffffff;
}

.rubrik_main_li_img{
  display: block;
  background-position: center center!important;
  background-repeat: no-repeat!important;
  background-size: contain!important;
  width: 100%;
  height: 140px;
}

.rubrik_main_li_border_top_right{
  top: -48px;
  right: -30px;
  position: absolute;
  width: 70px;
  height: 70px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #88b900;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-radius: 50%;
  transform: rotate(31deg);
  background: #88b900;
  box-shadow: 0 0 4px 0px black;
}

.rubrik_main_li_border_top_right_title{
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  transform: rotate(-31deg);
  padding: 0px 5px;
}

/* .rubrik_main_li_border_bottom_gradient{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 16px;
  background: linear-gradient(0deg,rgb(255, 255, 255) 50%,rgba(255, 255, 255, 0));
} */

.rubrik_main_a{
  text-decoration: none;
  padding: 13px;
  box-sizing: border-box;
  text-align: left;
  border: 1px solid #cacaca;
  display: block;
  margin-bottom: 3px;
  width: 100%;
  height: 100%;
  position: relative;
}

.rubrik_main_a:hover{
}

.rubrik_main_a_title{
  display: block;
  font-size: 15px;
  text-align: center;
  padding: 6px;
}

.rubrik_main_a_desc{
font-size: 14px;
}

/* .main_line{
  color: #00c0ff;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid #00c0ff;
} */

.main_page_texts_div{
  background: #ffffff;
  border-top: 3px solid #00c0ff;
  border-bottom: 3px solid #00c0ff;
  padding: 0px 10px;
}

.main_page_texts{
  color: #000;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 17px;
  /*line-height: 26px;*/
  /* margin-bottom: 50px; */
}

.main_page_texts a{
  color: #555;
}

.main_page_texts a:hover{
  color: #000;
}

.main_page_texts table{
  margin-bottom: 10px;
}

.main_page_texts img{
  max-width: 100%;
  height: auto!important;
}

.main_page_block_statei_div{
  padding: 20px 10px;
}

.main_page_block_statei_div_white{
  background: #ffffff;
  padding: 20px 10px;
}

.main_page_block_statei{

}
